.table {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fffbf5;
    padding: 2rem;
    border: 1px solid black;
}

.table-header {
    font-size: 2rem;
    text-align: left;
}

.table-item {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: left;
}